
.back-to-list {
  position: absolute;
  left: 0;
  top:-25px;
  display: inline-block;
  padding-left: 25px;
  font-size: 14px;
  color: $main-black-color;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: auto;

    path {
      fill: $main-red-color;
    }
  }
}

@media (min-width: $tablet-portrait) {

  .back-to-list {
    left: 11px;
    top: 5px;
    padding-left: 25px;
    font-size: 18px;

    svg {
      height: 18px;
      @include transition( transform, $animation-time, 0 );
    }

    &:hover {

      svg {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
      }
    }
  }

}

@media (min-width: $tablet-landscape) {



}

@media (min-width: $desktop) {

  .back-to-list {
    position: absolute;
    left: 11px;
    top: 5px;
    display: inline-block;
    padding-left: 25px;
    font-size: 18px;
    color: $main-black-color;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: auto;

      path {
        fill: $main-red-color;
      }
    }
  }

}
