.logo {
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 15px;
  width: 50px;

  img,
  svg {
    width: 100%;
    height: auto;

    path,
    line {
      @include transition(all, $animation-time, 0)
    }
  }
}

@media (min-width: $tablet-portrait) {

  .logo {
    top: 10px;
    width: 80px;
  }

}

@media (min-width: $tablet-landscape) {



}

@media (min-width: $desktop) {

  .logo {
    top: 30px;
    left: 12px;
    width: 100px;
  }

}
